
button.dt-button, div.dt-button, a.dt-button {
  background: #415a77 !important;
  color: white !important;
  border: none !important;
  border-radius: 10px !important;
}


.btnEnlaceGradient{
    font-weight: bold !important;
    color: white !important;
}

.btnEnlaceGradient:hover{
    color: white !important;
}

thead input {
  width: 100%;
  padding: 3px;
}


.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below{
    border-top: 1px solid #f2f2f2 !important;
    margin: 0;
}

#loader-usuario{
    margin-top: -230px;
    z-index: 100;
}

#loader-edit-usuario{
    margin-top: -230px;
    z-index: 100;
}


.particles-js-canvas-el{
    position: absolute;
}

.loader-buscar {
    width: 16px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .buttons-excel{
    background: #99EDC3 !important;
    color: #00A86B !important;
  }


  .table .header-tabla-numeracion{
  background-color: #EEEEEE !important;

  }

/*estilos grafico velocimetro*/

.highcharts-figure{
  align-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}



.highcharts-figure .chart-container {
  height: 200px;
  width: 200px !important;
  padding: 0;
  border: 2px solid #219ebc !important;
  margin: 0 auto;
}

  
/*estilos grafico temperatura minimo y maximo*/



  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .card .card-header span{
    margin-top: 0px !important;
  }

  .amcharts-g2 {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite;
  }
  
 /*INDICADORES*/

 div.titulo-indicadores{
    padding: 1rem 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);

 }

 button#profile-tab.nav-link,
 button#home-tab.nav-link,
 button#contact-tab.nav-link
 {
  outline: none !important;
 }

 div.caja-ind{
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border: none;
  width: 15%;
  background-color: #f8921e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-out;
 }

 div.caja-ind.gratuidad:hover,
 div.caja-ind.presupuestal:hover,
 div.caja-ind.prestacional:hover
 {
  scale: 1.1;
 }
 

 .tab-content>.content-indicadores{
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem;
 }


 div.caja-ind>i{
  font-size: 2rem;
 }


 .tablas_sepelio.table tbody tr{
  padding: 0 !important;
 }

 .tablas_sepelio.table tbody td{
  padding:  3px 4px !important;
  white-space: normal;
 }

 .tablas_sepelio.table tbody td > div > p{
  padding-bottom: 0;
  margin-bottom: 0;
 }


 .tablas_sepelio.table th {
  background-color: #0096c7;
  color: white;
  font-weight: bold;
  white-space: normal;
}


.tablas_sepelio.table .diasPresentacion{
  width: 30px !important;
  white-space: normal;

}

.dropdown-menu.dropdown-menu-right.b-none.contact-menu{
  width: 150px;
}

.dropdown-menu.dropdown-menu-right.b-none.contact-menu a:hover{
  background-color: #caf0f8;
}

  /* Estilo para el círculo */
  .circle-red {
    width: 25px; /* Diámetro del círculo */
    height: 25px; /* Diámetro del círculo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: #ff4d4d; /* Color de fondo rojo */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra interna para el efecto 3D */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centra horizontalmente */
}

.circle-green {
    width: 25px; /* Diámetro del círculo */
    height: 25px; /* Diámetro del círculo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: #38BC28; /* Color de fondo rojo */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra interna para el efecto 3D */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centra horizontalmente */
}


th {
    text-align: center !important; /* Alinear texto al centro */
    padding: 8px !important; /* Espaciado interno */
    white-space: normal !important; /* Permitir ajuste automático de texto */
    word-break: break-word !important; /* Romper palabras largas */
    max-width: 100px !important; /* Ancho máximo de la celda para evitar que se expanda demasiado */
}


/*estilos grafico barra*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container_grafico_barra {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}




  @-webkit-keyframes am-moving-dashes {
    100% {
      stroke-dashoffset: -31px;
    }
  }
  @keyframes am-moving-dashes {
    100% {
      stroke-dashoffset: -31px;
    }
  }
  
  .amcharts-graph-column-front {
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out;
  }
  .amcharts-graph-column-front:hover {
    fill: #496375;
    stroke: #496375;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }



  @media only screen and (max-width: 1280px) {
    .nav-left {
      display: none;
    }
  }